.cdk-virtual-scroll-data-source .viewport {
  min-height: 380px;
  width: 92vw;
  box-shadow: inset -20px -10px 30px 5px white;
}

.cdk-virtual-scroll-data-source .viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source .item {
  width: 200px;
  height: 100%;
}