<div class="cdk-virtual-scroll-data-source" *ngIf="!full">
  <cdk-virtual-scroll-viewport
    orientation="horizontal"
    itemSize="200"
    class="viewport"
    style="overflow-y: hidden !important"
  >
    <div *cdkVirtualFor="let filme of filmes" class="item oh">
      <app-item-filme
        [full]="full"
        [id]="'R' + filme.id"
        [filme]="filme"
        (click)="clickSelecao(filme)"
      >
      </app-item-filme>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<div class="cdk-virtual-scroll-data-source full" *ngIf="full">
  <cdk-virtual-scroll-viewport class="full viewport" [itemSize]="200" (scrolledIndexChange)="nextBatch($event)">
    <div class="row no-gutters full item oh" *cdkVirtualFor="let row of todos">
      <div class="col-3" *ngFor="let filme of row">
        <app-item-filme
          [full]="full"
          [id]="'R' + filme.id"
          [filme]="filme"
          (click)="clickSelecao(filme)"
        >
        </app-item-filme>
      </div>
    </div>
    <button mat-raised-button class="w90" color="primary"  *ngIf="!carregarTodos" (click)="clickCarregarMais()">
      Carregar Mais
    </button>
  </cdk-virtual-scroll-viewport>
  
</div>
