.cdk-virtual-scroll-data-source .viewport {
  min-height: 380px;
  width: 92vw;
  box-shadow: inset -20px -10px 30px 5px white;
}

.cdk-virtual-scroll-data-source .viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source .item {
  width: 200px;
  height: 100%;
}

.full.cdk-virtual-scroll-data-source .viewport {
  justify-content: center !important;
  // text-align: center;
  flex: auto;
  flex-direction: column;
  height: calc(100vh - 64px);
  display: inline-block !important;
  max-width: 50vw !important;
  box-shadow: inset -20px -10px 30px 5px white;
}

.full.cdk-virtual-scroll-data-source
  .viewport
  .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full.cdk-virtual-scroll-data-source .item {
  width: max-content;
  height: 400px !important;
  display: inline-flex;
}

// ::ng-deep{
//   .cdk-virtual-scroll-content-wrapper {
//       display: grid;
//       grid-template-columns: 1fr 1fr 1fr;

//       @media (max-width: 991.98px) {
//           grid-template-columns: 1fr 1fr;
//       }
//       @media (max-width: 575.98px) {
//           grid-template-columns: 1fr;
//       }
//   }
// }


.hor-viewport {
  height: 100vh;
  width: 100vw;
}

.hor-item {
  padding: 10px;
  margin-left: 20px;
  height: 175px;
  width: 100vw;
}