/*--------------------*/
// Font face
$mainP: Poppins;
$subR: Roboto;

// Font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size
$fxs: 10px !important;
$fsm: 14px !important;
$fmd: 18px !important;
$flg: 30px !important;

// Main colors
$demiRed: #f52357;
$demiYellow: #faf38e;
$demiOrange: #fa8e8e;
$demiWhite: #fff4f4;
$darkWine: #911131;
$darkinWine: #921d3a;
$demiPink: #f3497c;
$demiBlue: #38daf0;
$demiNiPurple: #602cda;
$demiPurple: #812399;
$demiDark: #303030;
$demiDarkin: #1d1c1c;
$moonMain: #032541;
$moonDuo: #153963;
$moonTri: #539ddf;

// Widths
$width: 1300px;
@media only screen and (min-width: 1400px) {
  html {
    $width: 1300px;
  }
}
/*--------------------*/
