<mat-form-field appearance="outline" [ngStyle]="style ? getStyle(style) : ''" style="width: 100%;" [ngClass]="{'required': required, 'custom': true}">
    <mat-label>{{label}}</mat-label>
    <mat-select (selectionChange)="change($event)" [(value)]="objectSource[editField]" [disabled]="disabled" [required]="required" >
        <mat-option *ngFor="let item of dataProvider" [value]="item[keyField]" >
            {{item[labelField]}}
        </mat-option>
    </mat-select>
    <button mat-button *ngIf="selecionado && showClearButton" matSuffix mat-icon-button aria-label="Clear" 
    (click)="clickClear($event)">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>