<mat-toolbar class="respToolbar">
  <div class="hgroup fCenter">
    <app-auto-open-menu class="ml10 mr10">
      <div trigger>
        Visão geral <mat-icon class="ml black">expand_more</mat-icon>
      </div>
      <div content>
        <span mat-menu-item>Principal</span>
        <span mat-menu-item>Títulos Alternativos</span>
        <span mat-menu-item>Elenco & Equipe</span>
        <span mat-menu-item>Datas de Lançamentos</span>
        <span mat-menu-item>Traduções</span>
        <span mat-menu-item>Assista Agora</span>
        <span mat-menu-item class="mt">Alterações</span>
        <span mat-menu-item>Reportar</span>
        <span mat-menu-item>Editar</span>
      </div>
    </app-auto-open-menu>
    <app-auto-open-menu class="ml10 mr10">
      <div trigger>Mídia <mat-icon class="ml black">expand_more</mat-icon></div>
      <div content>
        <span mat-menu-item>Imagens de fundo </span>
        <span mat-menu-item>Logotipos</span>
        <span mat-menu-item>Pôsteres</span>
        <span mat-menu-item [matMenuTriggerFor]="videos"
          >Vídeos <mat-icon class="ml black">chevron_right</mat-icon></span
        >
        <mat-menu #videos="matMenu">
          <button mat-menu-item>Trailers</button>
        </mat-menu>
      </div>
    </app-auto-open-menu>
    <app-auto-open-menu class="ml10 mr10">
      <div trigger>
        Fã-Clube <mat-icon class="ml black">expand_more</mat-icon>
      </div>
      <div content>
        <span mat-menu-item [matMenuTriggerFor]="discussoes"
          >Discossões <mat-icon class="ml black">chevron_right</mat-icon></span
        >
        <mat-menu #discussoes="matMenu">
          <button mat-menu-item>Sinopse</button>
          <button mat-menu-item>Grral</button>
          <button mat-menu-item>Conteúdo Incorreto</button>
        </mat-menu>
        <span mat-menu-item>Resenhas</span>
      </div>
    </app-auto-open-menu>
    <app-auto-open-menu class="ml10 mr10">
      <div trigger>
        Compartilhar <mat-icon class="ml black">expand_more</mat-icon>
      </div>
      <div content>
        <span mat-menu-item>Compartilhar Link</span>
        <span mat-menu-item>Facebook</span>
        <span mat-menu-item>Tweet</span>
      </div>
    </app-auto-open-menu>
  </div>
</mat-toolbar>

<div class="container h100">
  <div class="infos movieInfo">
    <div class="poster">
      <div class="details vgroup">
        <h2>{{ filme?.title }} ( {{ filme?.release_date | date: "yyyy" }})</h2>
        <div class="hgroup desc">
          <span class="item">
            {{ filme?.release_date | date: "dd/MM/yyyy" }}</span
          >
          <span class="item"> {{ generos }} </span>
          <span class="item" *ngIf="duracao"> {{ duracao }} </span>
        </div>

        <div class="hgroup desc">
          <app-rating [filme]="filme" [type]="'movieDetails'"></app-rating>
          <label class="avaliacao"> Avaliação dos usuários </label>

          <div class="hgroup">
            <div class="roundBtn">
              <button
                mat-fab
                color="primary"
                matTooltip="Adicionar a uma lista"
              >
                <mat-icon>format_list_bulleted</mat-icon>
              </button>
            </div>
            <div class="roundBtn">
              <button
                mat-fab
                color="primary"
                matTooltip="Adicionar aos favoritos"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
            <div class="roundBtn">
              <button
                mat-fab
                color="primary"
                matTooltip="Adicionar à sua lista de interesses"
              >
                <mat-icon>bookmark</mat-icon>
              </button>
            </div>
            <div class="roundBtn">
              <button mat-fab color="primary" matTooltip="Avalie!">
                <mat-icon>star</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <label class="tagline mt30">{{ filme?.tagline }}</label>
        <strong class="mt10">Sinopse</strong>

        <p class="overview mt10">{{ filme?.overview }}</p>
      </div>

      <div
        class="imageInfo"
        [ngStyle]="{
          'background-image': 'url(' + imgBack + filme?.backdrop_path + ')'
        }"
      >
        <div class="gradBg"></div>
        <section id="imageInfo">
          <img [src]="imgPath + filme?.poster_path" class="imgMini" />
        </section>
      </div>
    </div>
  </div>

  <!-- <section id="elencoPrincipal" class="elenco p20">
    <strong class="black">Elenco principal</strong>
  </section> -->

  
</div>
