.movieCard {
  max-width: 150px;
  min-width: 150px;
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  transition: background-color 750ms ease;
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 8px;
}
