.movieCard {
  max-width: 150px;
  min-width: 150px;
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  transition: background-color 750ms ease;
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 8px;
}

.movieInfo {
  position: absolute;
  bottom: 0px;
}

.rating {
  position: relative;
  bottom: 115px;
  margin-left: 25px;
}

:host ::ng-deep .track circle {
  stroke-opacity: 1 !important;
}

.track {
  position: relative;
  bottom: -40px;
}

.fundo {
  position: relative;
  background-color: black;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-block;
  bottom: -88px;
  left: -2px;
  label {
    color: white;
    position: absolute;
    left: 12px;
    top: 14px;
    font-size: small;
    font-weight: bolder;
    small {
      position: absolute;
      position: absolute;
      top: -5px;
      font-size: 7px;
      font-weight: 300;
    }
  }
}
.movieInfo {
  position: relative;
  top: -120px;
  padding: 15px;
  width: 150px;
}

.detalhe.movieInfo {
  top: -230px;
  color: black !important;
}
.full.movieCard {
  min-height: calc(150px * 2.3) !important;
  height: calc(150px * 2.3) !important;
}

.movieName {
  font-weight: bolder;
  position: relative;
}

.movieDate {
  position: relative;
  width: 200px;
}

.full {
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid #e3e3e3;
  background-color: #fff;
  color: black;
  position: relative;
  overflow: hidden;
}
