<mat-card class="mr ml movieCard">
  <img
    mat-card-image
    [src]="imgPath + filme?.poster_path"
    [matTooltip]="filme?.title"
  />
  <div class="movieInfo">
    <div class="vgroup">
      <span class="movieName">{{ filme?.title }}</span>
      <span class="movieDate">{{
        filme?.release_date | date: "dd/MM/yyyy"
      }}</span>
    </div>
  </div>
</mat-card>
<div class="rating">
  <div class="fundo">
    <label>{{ filme?.vote_average }}<small>%</small></label>
  </div>
  <mat-spinner
    class="track"
    mode="determinate"
    value="100"
    [diameter]="40"
    #customSpinnerBackground
  ></mat-spinner>
  <mat-spinner
    mode="determinate"
    [value]="filme?.vote_average"
    [diameter]="40"
    [strokeWidth]="4"
    [id]="'spin' + filme.id"
    #customSpinner
  >
  </mat-spinner>
</div>
