<div *ngIf="!horizontal && !isMobile">
  <mat-card class="mr ml movieCard" [ngClass]="{ full: full }">
    <img
      mat-card-image
      [src]="imgPath + filme?.poster_path"
      onerror="src='assets/imgs/default-image.png'"
      [matTooltip]="filme?.title"
    />
  </mat-card>
  <app-rating [full]="full" [filme]="filme" [type]="'default'"></app-rating>
  <div class="vgroup movieInfo" [ngClass]="{ detalhe: full }">
    <span class="movieName">{{ filme?.title }}</span>
    <span class="movieDate">{{ filme?.release_date | date: "longDate" }}</span>
  </div>
</div>

<div
  *ngIf="horizontal || isMobile"
  style="
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  "
>
  <mat-card class="cardHorizontal" style="margin-bottom: 10px">
    <mat-card-content class="cardHorizontal-content">
      <img
        class="horCardImg"
        mat-card-image
        [src]="imgPath + filme?.poster_path"
        onerror="src='assets/imgs/defaultimg.svg'"
        [matTooltip]="filme?.title"
      />

      <div>
        <span class="movieName">{{ filme?.title }}</span>
        <span class="movieDate">{{
          filme?.release_date | date: "longDate"
        }}</span>
        <span class="movieOverview">{{ filme?.overview }}</span>
      </div>
    </mat-card-content>
  </mat-card>

</div>
