<div *ngIf="inProgress | async">
  <mat-progress-bar mode="indeterminate" *ngIf="inProgress | async">
  </mat-progress-bar>
</div>
<div>
  <mat-toolbar color="primary" class="sticky">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()" style="z-index: 1050">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="logo" routerLink="/"></div>
    <div fxShow="true" fxHide.lt-md="true">
      <app-auto-open-menu>
        <div trigger >Filmes</div>
        <div content>
          <span mat-menu-item (click)="goTo('movie')"
            ><mat-icon class="mr black">rocket_launch</mat-icon>Populares</span
          >
          <span mat-menu-item (click)="goTo('movie/now-playing')"
            ><mat-icon class="mr black">star_rate</mat-icon>Em cartaz</span
          >
          <span mat-menu-item (click)="goTo('movie/upcoming')"
            ><mat-icon class="mr black">campaign</mat-icon>Próximas
            Estreias</span
          >
          <span mat-menu-item (click)="goTo('movie/top-rated')"
            ><mat-icon class="mr black">thumb_up</mat-icon>Mais bem
            avaliados</span
          >
        </div>
      </app-auto-open-menu>

      <!-- <button mat-button [matMenuTriggerFor]="filmes">Filmes</button>
      <mat-menu #filmes="matMenu">
        <button mat-menu-item>
          <mat-icon class="mr black">rocket_launch</mat-icon>Populares
        </button>
        <button mat-menu-item>
          <mat-icon class="mr black">star_rate</mat-icon>Em cartaz
        </button>
        <button mat-menu-item>
          <mat-icon class="mr black">campaign</mat-icon>Próximas Estreias
        </button>
        <button mat-menu-item>
          <mat-icon class="mr black">thumb_up</mat-icon>Mais bem avaliados
        </button>
      </mat-menu> -->
    </div>
    <div
      class="right"
      matTooltip="Perfil e Configurações"
      matTooltipPosition="before"
    >
      <button mat-icon-button class="mr" [matMenuTriggerFor]="beforeMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu">
        <button mat-menu-item matTooltip="Convidado" matTooltipPosition="left">
          <mat-icon class="mr black">lock</mat-icon> <strong>Convidado</strong>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item matTooltip="Discussões" matTooltipPosition="left">
          Discussões
        </button>
        <button mat-menu-item matTooltip="Listas" matTooltipPosition="left">
          Listas
        </button>
        <button mat-menu-item matTooltip="Avaliações" matTooltipPosition="left">
          Avaliações
        </button>
        <button
          mat-menu-item
          matTooltip="Lista de Interesses"
          matTooltipPosition="left"
        >
          Lista de Interesses
        </button>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          matTooltip="Editar Perfil"
          matTooltipPosition="left"
        >
          Editar Perfil
        </button>
        <button
          mat-menu-item
          matTooltip="Configurações"
          matTooltipPosition="left"
        >
          Configurações
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item matTooltip="Sair" matTooltipPosition="left">
          <mat-icon class="mr black">logout</mat-icon> Sair
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <div class="blurBg"></div>
    <mat-sidenav
      class="likeTheMovieDB"
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
    <div fxLayout="column w100 baseline" style="padding: 10px;">
        <button mat-button [matMenuTriggerFor]="filmes"><span class="big">Filmes</span></button>
        <mat-menu #filmes="matMenu">
          <button mat-menu-item (click)="goTo('movies/populares')">
            <mat-icon class="mr black">rocket_launch</mat-icon>Populares
          </button>
          <button mat-menu-item>
            <mat-icon class="mr black">star_rate</mat-icon>Em cartaz
          </button>
          <button mat-menu-item>
            <mat-icon class="mr black">campaign</mat-icon>Próximas Estreias
          </button>
          <button mat-menu-item>
            <mat-icon class="mr black">thumb_up</mat-icon>Mais bem avaliados
          </button>
        </mat-menu>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
