<div class="container" style="color: black">
  <section class="bemVindo">
    <div class="title">
      <h2>Bem-Vindo(a).</h2>
      <h3>Milhões de Filmes, Séries e Pessoas para Descobrir. Explore já.</h3>
    </div>

    <mat-form-field class="ml20 w90" appearance="fill">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        aria-label="Buscar "
        [matAutocomplete]="auto"
        [(ngModel)]="search"
        (keyup)="carregarFilmes(search)"
        (keyup.enter)="clickBuscar()"
      />
      <button
        *ngIf="search"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clickBuscar()"
        matTooltipPosition="after"
        matTooltip="Buscar"
      >
        <mat-icon>search</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let movie of filmesBusca" [value]="movie.title" (onSelectionChange)="irParaDetalhesFilme(movie)">
          <img
            class="example-option-img"
            aria-hidden
            [src]="movie.image"
            onerror="src='assets/imgs/default-image-mini.png'"
            height="50"
          />

          <span class="mr10 movieTitle">{{movie.title}}</span>
          <small class="synopsis">{{ movie.synopsis }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br />
  </section>
  <section class="populares">
    <div class="hgroup black">
      <!-- <strong class="medium mr20 baseline">Os Mais Populares</strong> -->
      <app-custom-combo
        [style]="'width: 283px; margin-bottom: 10px'"
        label="Os Mais Populares"
        [dataProvider]="populares"
        labelField="nome"
        keyField="id"
        [objectSource]="popularSelecionado"
        editField="id"
        #cbPopulares
        (changeValue)="carregarPopulares()"
      >
      </app-custom-combo>
    </div>

    <app-lista-filmes
      [filmes]="filmesPopulares"
      (goToMovie)="irParaDetalhesFilme($event)"
    ></app-lista-filmes>
  </section>
</div>
