/*custom combo*/
//input outline color
:host
  ::ng-deep
  .custom.mat-form-field-appearance-outline
  .mat-form-field-outline {
  color: #e8e8e8 !important;
  // opacity: 1!important;
}

//mat-input focused color
:host
  ::ng-deep
  .custom.mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #e8e8e8 !important;
}

// mat-input error outline color
:host
  ::ng-deep
  .custom.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #e8e8e8 !important;
  opacity: 0.8 !important;
}

// mat-label focused style
:host ::ng-deep .custom.mat-form-field.mat-focused .mat-form-field-label {
  color: #e8e8e8 !important;
}

// mat-label error style
:host
  ::ng-deep
  .custom.mat-form-field.mat-form-field-invalid
  .mat-form-field-label {
  color: #e8e8e8 !important;
}

:host ::ng-deep .mat-form-field-type-mat-select .mat-form-field-label,
.mat-select-value {
  color: #e8e8e8 !important;
}

.mat-form-field-label {
  color: #e8e8e8 !important;
}

:host ::ng-deep .mat-select-value-text {
  color: #e8e8e8 !important;
}

.tipoFilme {
  align-self: center;
  position: absolute;
  left: 20vh;
  margin-top: 10px;
}
